.product {
  margin-bottom: 10px;
  margin-top: 10px;
  text-align: center;
}

.jumbotron {
  text-align: center;
}

.div-center {
  text-align: center;
}

.div-margin {
  margin-bottom: 30px;
}

.product-title a:hover {
  text-decoration: none;
}

.slick-slide, .slick-slide * {
  outline: none !important;
}

.slick-slider, .slick-slider * {
  outline: none !important;
}

.container a {
  outline: 0;
}